/* RESET SEMUA CSS BIAR TIDAK TERPOTONG */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: linear-gradient(135deg, #223ba9ff 0%, #4a256eff 100%);
}